// font family
$font-manrope: "Manrope", sans-serif;

// colors
$col-burntSienna: #D87D4A;
$col-jetBlack: #101010;
$col-silver: #F1F1F1;
$col-shadeOfGray: #CFCFCF;
$col-lightGray: #FAFAFA;
$col-peach: #fbaf85;
$col-white: #FFFFFF;
$col-black: #000000;
$col-crimson: #CD2C2C;
